#medsos{
    @media (min-width: 468px) {
      padding-top: 70px;
    }
}


    @media (max-width: 468px) {
         .icon{
            font-size: 20px;
            
         }
         .card-icon{
            border: none;
            box-shadow: none ;
            background-color: none;
         }
      }
